body {
    background-color: lightblue;
    color: white;
    font-size: 21px;

    font-family: Optima, Candara, 'Noto Sans', 
    source-sans-pro, sans-serif;
}

p {
    color: black;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height:1.4;
}

.intro{
    font-size: 30px;
    color: blue;
}

h1 {
    font-size: 70px;
    color: blue;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 
    'URW Palladio L', P052, serif;

    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    color: black;
    margin-top: 0px;
}


.box {
    background-image: url(../img/dice.png);
    width: 300px;
    
    margin: 100px;
    padding: 200px 100px; 
    /* top right bottom left */

    background-size: cover;
    background-position: center;
}

/* this is a css comment - for the CSS box model */

/* parts  for the CSS box model 
    Margin: empty space around my element
    Border: a border around my element
    Padding: empty space WITH background around my element

    ALL of these ADD on top of the width and height!
*/

