body {
    background-color: lightblue;
}

p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height:1.4;
}

a{
    color: green;
    text-decoration: none;
}


a:hover,
a:focus{
    color:yellow;
}



/* pseudoclass is related to a state of being ; PSEUDOCLASSES HAVE TO BE IN THIS ORDER
a:link : color of links
a:visited - color of link that you've already visited
a:hover - color of link while you hover
a:active - color it turns while you click

extra: a:focus lets you tab through links

*/

h1 {
    font-size: 70px;
    color: blue;
    font-family: 'Iowan Old Style', 'Palatino Linotype', 
    'URW Palladio L', P052, serif;
    margin-top: 0px;

    margin-bottom: 0px;
}

h2 {
    font-size: 35px;
    color: black;
    margin-top: 0px;
}



/* this is a css comment - for the CSS box model */

/* parts  for the CSS box model 
    Margin: empty space around my element
    Border: a border around my element
    Padding: empty space WITH background around my element

    ALL of these ADD on top of the width and height!
*/

.body-text {
    background-color: #79acd1;
    padding: 50px;
}

.body-text p {
    color:red;
}